Connection to the database

In [1]:
username = 'postgres'
password = 'kasztanP7r.U1'

host = 'localhost'
database = 'airlines'
port = '5432'

creating url and engine variables

In [2]:
from sqlalchemy import create_engine

# Creating a url variable
url = f'postgresql://{username}:{password}@{host}:{port}/{database}'

# Creating an engine
engine = create_engine(url)

# Display url and engine
print("URL:", url)
print("Engine:", engine)

URL: postgresql://postgres:kasztanP7r.U1@localhost:5432/airlines
Engine: Engine(postgresql://postgres:***@localhost:5432/airlines)

Loading frames into the workspace

In [3]:
import pandas as pd

def load_raw_data(file_name):
    # Wczytanie danych
    try:
        df = pd.read_csv(file_name)
        print(f"Plik {file_name} został wczytany pomyślnie.")
    except FileNotFoundError:
        print(f"Nie można znaleźć pliku {file_name}.")
        return None
    
    # Zmiana nazw kolumn
    df.columns = df.columns.str.lower()
                     
    return df

Loading individual files into frames

In [4]:
file_name = 'flight.csv'
df_flight = load_raw_data(file_name)
if df_flight is not None:
    print(df_flight.head())  # Wyświetlenie pierwszych wierszy ramki danych

Plik flight.csv został wczytany pomyślnie.
   unnamed: 0  month  day_of_month  day_of_week op_unique_carrier tail_num  \
0           0      1            20            7                WN   N204WN
1           1      1            20            7                WN   N8682B
2           2      1            20            7                WN   N717SA
3           3      1            20            7                WN   N709SW
4           4      1            20            7                WN   N7864B

   op_carrier_fl_num  origin_airport_id  dest_airport_id  crs_dep_time  ...  \
0                682              10397            11292           605  ...
1               2622              10397            11292          2120  ...
2               2939              10397            11292          1800  ...
3               3848              10397            11292          1355  ...
4               1352              10397            11697          1125  ...

   crs_elapsed_time  actual_elapsed_time distance  distance_group  year  \
0               205                204.0     1199               5  2019
1               210                205.0     1199               5  2019
2               210                220.0     1199               5  2019
3               205                204.0     1199               5  2019
4               120                124.0      581               3  2019

   carrier_delay weather_delay  nas_delay  security_delay  late_aircraft_delay
0            NaN           NaN        NaN             NaN                  NaN
1            NaN           NaN        NaN             NaN                  NaN
2            4.0           0.0       10.0             0.0                  3.0
3            NaN           NaN        NaN             NaN                  NaN
4            NaN           NaN        NaN             NaN                  NaN

[5 rows x 28 columns]

In [5]:
df_flight = df_flight.drop(columns=['unnamed: 0'])
print(df_flight.head())

   month  day_of_month  day_of_week op_unique_carrier tail_num  \
0      1            20            7                WN   N204WN
1      1            20            7                WN   N8682B
2      1            20            7                WN   N717SA
3      1            20            7                WN   N709SW
4      1            20            7                WN   N7864B

   op_carrier_fl_num  origin_airport_id  dest_airport_id  crs_dep_time  \
0                682              10397            11292           605
1               2622              10397            11292          2120
2               2939              10397            11292          1800
3               3848              10397            11292          1355
4               1352              10397            11697          1125

   dep_time  ...  crs_elapsed_time actual_elapsed_time  distance  \
0     602.0  ...               205               204.0      1199
1    2114.0  ...               210               205.0      1199
2    1807.0  ...               210               220.0      1199
3    1354.0  ...               205               204.0      1199
4    1125.0  ...               120               124.0       581

   distance_group  year carrier_delay  weather_delay  nas_delay  \
0               5  2019           NaN            NaN        NaN
1               5  2019           NaN            NaN        NaN
2               5  2019           4.0            0.0       10.0
3               5  2019           NaN            NaN        NaN
4               3  2019           NaN            NaN        NaN

   security_delay  late_aircraft_delay
0             NaN                  NaN
1             NaN                  NaN
2             0.0                  3.0
3             NaN                  NaN
4             NaN                  NaN

[5 rows x 27 columns]

In [6]:
file_name = 'airport_weather.csv'
df_airport_weather = load_raw_data(file_name)
if df_airport_weather is not None:
    print(df_airport_weather.head())  # Wyświetlenie pierwszych wierszy ramki danych

Plik airport_weather.csv został wczytany pomyślnie.
   unnamed: 0      station                                               name  \
0           0  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
1           1  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
2           2  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
3           3  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
4           4  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...

         date   awnd  pgtm  prcp  snow  snwd  tavg  ...  wt09  wesd  wt10  \
0  2019-01-01   4.70   NaN  0.14   0.0   0.0  64.0  ...   NaN   NaN   NaN
1  2019-01-02   4.92   NaN  0.57   0.0   0.0  56.0  ...   NaN   NaN   NaN
2  2019-01-03   5.37   NaN  0.15   0.0   0.0  52.0  ...   NaN   NaN   NaN
3  2019-01-04  12.08   NaN  1.44   0.0   0.0  56.0  ...   NaN   NaN   NaN
4  2019-01-05  13.42   NaN  0.00   0.0   0.0  49.0  ...   NaN   NaN   NaN

   psun  tsun  sn32  sx32  tobs  wt11  wt18
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 34 columns]

In [8]:
df_airport_weather = df_airport_weather.drop(columns=['unnamed: 0'])
print(df_airport_weather.head())

       station                                               name        date  \
0  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...  2019-01-01
1  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...  2019-01-02
2  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...  2019-01-03
3  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...  2019-01-04
4  USW00013874  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...  2019-01-05

    awnd  pgtm  prcp  snow  snwd  tavg  tmax  ...  wt09  wesd  wt10  psun  \
0   4.70   NaN  0.14   0.0   0.0  64.0  66.0  ...   NaN   NaN   NaN   NaN
1   4.92   NaN  0.57   0.0   0.0  56.0  59.0  ...   NaN   NaN   NaN   NaN
2   5.37   NaN  0.15   0.0   0.0  52.0  55.0  ...   NaN   NaN   NaN   NaN
3  12.08   NaN  1.44   0.0   0.0  56.0  66.0  ...   NaN   NaN   NaN   NaN
4  13.42   NaN  0.00   0.0   0.0  49.0  59.0  ...   NaN   NaN   NaN   NaN

   tsun  sn32  sx32  tobs  wt11  wt18
0   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 33 columns]

In [9]:
file_name = 'airport_list.csv'
df_airport_list = load_raw_data(file_name)
if df_airport_list is not None:
    print(df_airport_list.head())  # Wyświetlenie pierwszych wierszy ramki danych

Plik airport_list.csv został wczytany pomyślnie.
   unnamed: 0            display_airport_name  \
0           0             Fresno Air Terminal
1           1          General Mitchell Field
2           2           Memphis International
3           3  Syracuse Hancock International
4           4               Atlanta Municipal

                                                name  origin_airport_id  \
0               FRESNO YOSEMITE INTERNATIONAL, CA US              11638
1                  MILWAUKEE MITCHELL AIRPORT, WI US              13342
2               MEMPHIS INTERNATIONAL AIRPORT, TN US              13244
3      SYRACUSE HANCOCK INTERNATIONAL AIRPORT, NY US              15096
4  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...              10397

  origin_city_name
0       Fresno, CA
1    Milwaukee, WI
2      Memphis, TN
3     Syracuse, NY
4      Atlanta, GA

In [11]:
df_airport_list = df_airport_list.drop(columns=['unnamed: 0'])
print(df_airport_list.head())

             display_airport_name  \
0             Fresno Air Terminal
1          General Mitchell Field
2           Memphis International
3  Syracuse Hancock International
4               Atlanta Municipal

                                                name  origin_airport_id  \
0               FRESNO YOSEMITE INTERNATIONAL, CA US              11638
1                  MILWAUKEE MITCHELL AIRPORT, WI US              13342
2               MEMPHIS INTERNATIONAL AIRPORT, TN US              13244
3      SYRACUSE HANCOCK INTERNATIONAL AIRPORT, NY US              15096
4  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...              10397

  origin_city_name
0       Fresno, CA
1    Milwaukee, WI
2      Memphis, TN
3     Syracuse, NY
4      Atlanta, GA

In [12]:
file_name = 'aircraft.csv'
df_aircraft = load_raw_data(file_name)
if df_aircraft is not None:
    print(df_aircraft.head())  # Wyświetlenie pierwszych wierszy ramki danych

Plik aircraft.csv został wczytany pomyślnie.
   unnamed: 0  manufacture_year tail_num  number_of_seats
0           0              1944   N54514              0.0
1           1              1945   N1651M              0.0
2           2              1953   N100CE              0.0
3           3              1953   N141FL              0.0
4           4              1953   N151FL              0.0

In [14]:
df_aircraft = df_aircraft.drop(columns=['unnamed: 0'])
print(df_aircraft.head())

   manufacture_year tail_num  number_of_seats
0              1944   N54514              0.0
1              1945   N1651M              0.0
2              1953   N100CE              0.0
3              1953   N141FL              0.0
4              1953   N151FL              0.0

Data export to the database

In [15]:
def export_table_to_db(df, table_name, con, chunksize=1000):
    """
    Eksportuje ramkę danych do tabeli w bazie danych.

    Args:
    df (DataFrame): Ramka danych do eksportu.
    table_name (str): Nazwa tabeli docelowej w bazie danych.
    con (sqlalchemy.engine.base.Engine): Połączenie do bazy danych.
    chunksize (int, opcjonalne): Maksymalna liczba wierszy wgrywana za jednym razem. Domyślnie 1000.
    """
    print(f"Wczytywanie danych do {table_name}...")
    try:
        # Usuń tabelę, jeśli istnieje, wraz z jej zależnymi obiektami
        con.execute(f"DROP TABLE IF EXISTS {table_name} CASCADE")
        
        # Wczytaj ramkę danych do bazy danych
        df.iloc[:len(df) - 1].to_sql(name=table_name, con=con, if_exists='replace', index=False, chunksize=chunksize)
        
        print(f"Dane pomyślnie wczytane do {table_name}.")
    except Exception as e:
        print(f"Wystąpił błąd podczas wczytywania danych do {table_name}: {e}")

Uploading data

Uploading `aircraft_df` to the `aircraft` table

In [17]:
# Table name
table_name = 'aircraft'

# Uploading data to the table
export_table_to_db(df_aircraft, table_name, engine)

Wczytywanie danych do aircraft...
Dane pomyślnie wczytane do aircraft.

Uploading airport_weather_df to the airport_weather table

In [18]:
# Table name
table_name = 'airport_weather'

# Uploading data to table
export_table_to_db(df_airport_weather, table_name, engine)

Wczytywanie danych do airport_weather...
Dane pomyślnie wczytane do airport_weather.

Uploading flight_df to the flight table

In [19]:
# Table name
table_name = 'flight'

# Uploading data to the table
export_table_to_db(df_flight, table_name, engine)

Wczytywanie danych do flight...
Dane pomyślnie wczytane do flight.

Uploading airport_list_df to the airport_list table

In [20]:
# Nazwa tabeli
table_name = 'airport_list'

# Wgranie danych do tabeli
export_table_to_db(df_airport_list, table_name, engine)

Wczytywanie danych do airport_list...
Dane pomyślnie wczytane do airport_list.

Checking the correctness of the notebook

In [21]:
def test_data_export(table_name, expected_count, expected_schema):
    real_count = pd.read_sql(f"SELECT COUNT(*) as cnt FROM {table_name}", engine).iloc[0][0]
    
    real_schema = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 0", engine)
    real_schema = set(real_schema.columns)

    expected_schema = set(expected_schema)

    diff = real_schema.symmetric_difference(expected_schema)

    assert len(diff) == 0, ('Nie zgadzają się kolumny tabel....'
    f'\tOczekiwano: {expected_schema}'
    f'\tOtrzymano: {real_schema}'
    f'\tRóżnica: {diff}')

    assert expected_count == real_count, \
        f'Nie zgadza się liczba wierszy, oczekiwano {expected_count}, otrzymano {real_count} - sprawdź, czy nie dane nie zostały wgrane do tabeli "{table_name}" więcej niż raz.'

Checking the aircraft table

In [23]:
aircraft_expected_count = 7383
aircraft_expected_schema = ['manufacture_year', 'tail_num', 'number_of_seats']

test_data_export('aircraft', aircraft_expected_count, aircraft_expected_schema)

AssertionError: Nie zgadza się liczba wierszy, oczekiwano 7383, otrzymano 7382 - sprawdź, czy nie dane nie zostały wgrane do tabeli "aircraft" więcej niż raz.

Checking the airport_weather table

In [25]:
airport_weather_expected_count = 46226
airport_weather_expected_schema = [
       'station', 'name', 'date', 'awnd', 'prcp', 'snow', 'snwd', 'tavg', 
       'tmax', 'tmin', 'wdf2', 'wdf5', 'wsf2', 'wsf5', 'wt01', 'wt08', 'wt02',
       'wt03', 'wt04', 'wt09', 'wt06', 'wt05', 'pgtm', 'wt10', 'wesd', 'sn32',
       'sx32', 'psun', 'tsun', 'tobs', 'wt07', 'wt11', 'wt18']

test_data_export('airport_weather', airport_weather_expected_count, airport_weather_expected_schema)

AssertionError: Nie zgadza się liczba wierszy, oczekiwano 46226, otrzymano 46225 - sprawdź, czy nie dane nie zostały wgrane do tabeli "airport_weather" więcej niż raz.

Checking the airport_weather table

In [26]:
flight_expected_count = 1386120
flight_expected_schema = [
       'month', 'day_of_month', 'day_of_week', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'dest_airport_id',
       'crs_dep_time', 'dep_time', 'dep_delay_new', 'dep_time_blk',
       'crs_arr_time', 'arr_time', 'arr_delay_new', 'arr_time_blk',
       'cancelled', 'crs_elapsed_time', 'actual_elapsed_time', 'distance',
       'distance_group', 'year', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay']

test_data_export('flight', flight_expected_count, flight_expected_schema)

AssertionError: Nie zgadza się liczba wierszy, oczekiwano 1386120, otrzymano 1386119 - sprawdź, czy nie dane nie zostały wgrane do tabeli "flight" więcej niż raz.

Check the `airport_list` table

In [28]:
airport_list_expected_count = 97
airport_list_expected_schema = ['origin_airport_id', 'display_airport_name', 'origin_city_name', 'name']

test_data_export('airport_list', airport_list_expected_count, airport_list_expected_schema)

AssertionError: Nie zgadza się liczba wierszy, oczekiwano 97, otrzymano 96 - sprawdź, czy nie dane nie zostały wgrane do tabeli "airport_list" więcej niż raz.

In [29]:
msg = "Wszystko wygląda OK :) Możesz przejść do kolejnego kroku."
print(msg)

Wszystko wygląda OK :) Możesz przejść do kolejnego kroku.